.center {
  margin-top: 50px;
  .topb {
    margin-bottom: 30px;
    p {
      color: #f5f6f7;
      font: 800 18px/18px FuturaBold;
      margin: 2px auto 0 0.625rem;
    }
  }
  .botb {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .oid {
      width: 168px;
      margin-right: 37px;
      background: #24262b no-repeat center center;
      height: 3.5rem;
      display: grid;
      grid-template-rows: 1fr;
      border-radius: 10px;
      transition: all 0.4s ease;
      img{
        width: 100%;
      }
    }
    .oid:hover{
        cursor: pointer;
    }
  }
}
@media all and (max-width : 992px){
  .center{
    padding-top: 250px;
    .botb{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      .oid{
        margin-bottom: 20px;
        width: 110px;
      }
    }
  }
}
@media all and (max-width : 768px){
  .center{
    padding-top: 250px;
    .botb{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      .oid{
        margin-bottom: 20px;
        width: 110px;
      }
    }
  }
}
@media all and (max-width : 576px){
  .center{
    padding-top: 320px;
    .botb{
      grid-template-columns: 1fr 1fr 1fr;
      .oid{
        margin-bottom: 20px;
        width: 110px;
      }
    }
  }
}
