.footer {
  color: #99a4b0cc;
  background: #161f2c;
  padding: 48px 0;
  .container {
    margin: 0 auto;
    max-width: 1328px;
    padding: 0 50px;
    line-height: 2;
    .imgs {
      padding-left: 20px;
    }
    .flexa {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 15px;
      .desc {
        width: 360px;
        padding-right: 24px;
        font-size: 12px;
        line-height: 24px;
        color: #99a4b0cc;
        padding-bottom: 70px;
      }
      .line {
        border-right: 1px solid #afc5d426;
        height: 150px;
      }
      .entris {
        padding: 0 24px 0 48px;
        white-space: nowrap;
        line-height: 2.5;
        margin-right: 40px;
        a {
          display: block;
          font-size: 12px;
          color: #c0cbd5;
          text-transform: uppercase;
          text-decoration: none;
          padding-bottom: 5px;
        }
        a:hover {
          color: #5da000;
          text-decoration: underline;
        }
      }
      .us {
        max-width: 560px;
        min-width: 230px;
        .contact {
          .ttu {
            font-size: 12px;
          }
          .info {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            .left {
              margin-right: 6px;
              .item {
                font-size: 12px;
                justify-content: flex-start;
                align-items: center;
                span {
                  margin-right: 5px;
                }
                a {
                  color: #5da000;
                  text-decoration: none;
                }
                a:hover {
                  text-decoration: underline;
                }
              }
            }
            .right {
              margin-left: 60px;
              .item {
                font-size: 12px;
                justify-content: flex-start;
                align-items: center;
                span {
                  margin-right: 5px;
                }
                a {
                  color: #5da000;
                  text-decoration: none;
                }
                a:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .currencies {
          margin-top: 24px;
          .list {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            .itema {
              margin-right: 16px;
              img {
                border-radius: 50%;
                background-color: white;
                width: 22px;
                height: 22px;
              }
            }
          }
        }
      }
    }
    .license {
      display: flex;
      border-top: 1px solid #afc5d426;
      border-bottom: 1px solid #afc5d426;
      padding: 20px 0;
      margin-top: 30px;
      .layit {
        width: 55%;
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-right: 1px solid #afc5d426;
        .desc {
          padding-left: 10px;
          font-size: 13px;
          line-height: 1.4;
          display: flex;
          img {
            width: 150px;
            height: 50px;
          }
          p {
            padding-left: 44px;
          }
        }
      }
      .cert {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        padding-left: 50px;
        fill: #555b65;
      }
    }
    .copyright {
      font-size: 12px;
      color: #555b65;
      text-align: center;
    }
  }
}
@media all and (max-width: 576px) {
  .footer {
    .container {
      .flexa {
        display: grid;
        grid-template-columns: 1fr;
        .desc {
          padding-bottom: 20px;
        }
        .line {
          border-bottom: 1px solid rgba(175, 197, 212, 0.1490196078);
          height: 0;
        }
        .entris {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .us {
          text-align: center;
          .contact {
            .info {
              display: grid;
              grid-template-rows: 1fr 1fr;
              .right {
                margin: 0;
              }
            }
          }
        }
      }
      .license {
        display: block;
        grid-template-columns: 1fr;
        .layit {
          display: block;
          grid-template-rows: 1fr;
          width: calc(100% / 1);
          border-bottom: 1px solid rgba(175, 197, 212, 0.1490196078);
          border-right: none;
          .desc {
            display: block;
            img {
              width: 80%;
              margin-bottom: 15px;
            }
          }
        }
        .cert {
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
      .copyright {
        margin-bottom: 15px;
      }
    }
  }
}
