.center {
  margin-top: 50px;
  max-width: 1296px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 50px;
  .title {
    .bigwin {
      font: 800 18px/18px FuturaBold;
      color: #f5f6f7;
    }
    .tablea {
      padding: 1rem;
      background-color: #161f2c;
      border-radius: 1.25rem;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      flex-wrap: nowrap;
      .righta {
        table {
          thead {
            padding-bottom: 20px;
            tr {
              th {
                color: #f5f6f7;
                padding-left: 130px;
                padding-bottom: 15px;
              }
            }
          }
          tbody {
            tr {
              td {
                color: #99a4b0;
                padding-left: 150px;
                padding-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width : 768px ){
  .center{
    .title{
      .tablea{
        .righta{
          table{
            thead{
              tr{
                th{
                  padding-left: 0;
                  padding-right: 100px;
                }
                .th1{
                  display: none;
                }
              }
            }
            tbody{
              tr{
                td{
                  padding-left: 25px;
                }
                .th1{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media all and (max-width : 576px ){
  .center{
    .title{
      .tablea{
        .righta{
          table{
            thead{
              tr{
                th{
                  padding-left: 0;
                  padding-right: 30px;
                }
                .th1{
                  display: none;
                }
              }
            }
            tbody{
              tr{
                td{
                  padding-left: 25px;
                }
                .th1{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}