.center {
  margin-top: 50px;
  .lab {
    background: #202a39;
    padding: 12px 2.75rem 12px 1.25rem;
    width: 200px;
    border-radius: 15px 15px 0 0;
    .alt {
      color: white;
      text-transform: uppercase;
      font: italic 800 18px/24px FuturaBold;
      b {
        color: yellow;
        padding-left: 5px;
      }
    }
  }
  .slider {
    background: #202a39;
    border-radius: 0 15px 15px 15px;
    .imgs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 20px;
      img {
        margin-right: 15px;
        width: 163px;
      }
    }
    .imgs:hover {
      cursor: pointer;
    }
  }
}
@media all and (max-width : 576px){
  .center{
    display: none;
  }
}